.main-container-about {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    color: white;

}

.content {
    width: 90%;
    margin: 0 auto;
    display: flex;

}

.content:hover .content-label > h1{
    color: #B22222;
    transition: 0.4s ease-in-out ;
}

.content-label{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

}

.content-label > h1 {
    transform: rotate(-90deg);
    font-size: 100px;
    color: #222222;
    transition: 0.4s ease-in-out ;
}

.content-text{
    padding-left: 50px;
    width: 90%;
}

.content-text > h1 {
    font-size: 50px;
}

.icons {
    font-size: 50px;
    margin: 10px;
    transition: 0.4s ease-in-out ;
}

.icons:hover {
    color:#be2525;
    transition: 0.4s ease-in-out ;
}



@media screen and (min-width: 960px) {
    .content {
        width: 60%;
        margin: 0 auto;
        display: flex;
    
    }

    .main-container-about {
        padding-top: 150px;
        padding-bottom: 150px;
        width: 100%;
        color: white;
    
    }
  }
